@font-face {
  font-family: Centra;
  src: url(./assets/font/CentraNo2-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url(./assets/font/CentraNo2-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url(./assets/font/CentraNo2-Bold.ttf);
  font-weight: 400;
}

:root {
  --body-bg-color: black;
  --body-color: #fff;
  --font-family: 'Centra', sans-serif;
  --scroll-padding-top: 4.6875rem; /* 75px es 4.6875rem cuando la raíz es 16px */
  --navbar-padding: 1.125rem 0; /* 18px es 1.125rem cuando la raíz es 16px */
  --navbar-bg-color: #121212;
  --nav-link-color: #fff;
  --nav-link-hover-opacity: 1;
  --social-icon-bg: rgba(217, 217, 217, 0.1);
  --social-icon-border: rgba(255, 255, 255, 0.5);
  --button-color: #fff;
  --button-hover-color: #121212;
  --color-success: green;
  --color-danger: red;
  --container-padding: 9.375rem; /* 150px es 9.375rem cuando la raíz es 16px */
  
}

/* default CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding-top);
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--body-bg-color) !important;
  color: var(--body-color) !important;
  font-family: var(--font-family) !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  all: unset; /* Elimina todos los estilos predeterminados */
  background-color: transparent;
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid rgba(0, 123, 255, 0.75); /* Agrega un enfoque claro */
  outline-offset: 2px;
}

@media (min-width: 106.25rem) { /* 1700px es 106.25rem */
  main .container {
    max-width: 100%;
    padding: 0 var(--container-padding);
  }
}

p.success {
  color: var(--color-success);
}

p.danger {
  color: var(--color-danger);
}

/************** nav-var css ****************/
nav.navbar {
  padding: var(--navbar-padding);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: padding 0.32s ease-in-out, background-color 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: var(--navbar-bg-color);
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--nav-link-color) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 1.125rem; /* 18px es 1.125rem */
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: var(--nav-link-hover-opacity);
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
    display: inline-flex; /* Cambiado a inline-flex para alinear los íconos horizontalmente */
    margin-left: 14px;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 50%;
    margin-right: 6px;
    display: flex; /* Agregado display flex para alinear contenido horizontalmente */
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Añadido overflow hidden para evitar que el ::before se desborde */
    transition: transform 0.3s ease-in-out; /* Movido la transición aquí para evitar duplicación */
}

.social-icon a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease-in-out; /* Cambiado para que coincida con la propiedad transform en :hover */
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 60%; /* Cambiado de 40% a 60% para ajustar el tamaño */
    z-index: 1;
    transition: filter 0.3s ease-in-out; /* Añadido el efecto de transición */
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
vbar-text button {
  font-weight: 700;
  color: var(--button-color);
  border: 1px solid var(--button-color);
  padding: 18px 34px;
  font-size: 1.125rem; /* 18px es 1.125rem */
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--button-color);
  left: 0;
  top: 0;
  z-index: -1;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: var(--button-hover-color);
}
.navbar-text button:hover::before {
  width: 100%;
  height: 100%;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: 2px dashed var(--nav-link-color); /* Mejor para la accesibilidad */
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--nav-link-color);
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid var(--nav-link-color);
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: var(--nav-link-color);
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: var(--nav-link-color);
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: var(--nav-link-color);
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

@media (prefers-color-scheme: dark) {
  nav.navbar {
    background-color: #000;
  }
  .navbar-text button {
    color: #ccc;
  }
}
/************** nav-var css ****************/


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
